body {
  background-color: whitesmoke;
}
.dict-table .dict-table__header {
  margin: 20px 50px;
}
.dict-table tr {
  cursor: pointer;
}
.dict-table tr a {
  text-decoration: none;
}
.dict-words {
  margin: 20px 50px;
  height: 400px;
  border: 1px solid #e0e0e0;
}
.dict-words .dict-word {
  border-bottom: 1px solid #e0e0e0;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.dict-header {
  padding: 20px 50px;
}
.dict-header .dict-header__button {
  margin: 10px 0px;
  width: 100%;
}
